.offcanvas-lg {
  max-width: 210px;
}
.offcanvas-lg .offcanvas-body {
  top: 0;
  width: 190px;
  position: sticky;
  flex-direction: column;
  min-height: 98vh;
  padding: 10px 10px 10px 10px;
}
.offcanvas-lg .offcanvas-body .nav {
  height: 100%;
}
.offcanvas-lg .offcanvas-body .nav .nav-item {
  width: 90%;
  text-align: start;
}
.offcanvas-lg .offcanvas-body .nav .nav-item .nav-link {
  padding: 8px 5px 8px 5px;
  color: var(--bs-white);
  color: white;
  border-bottom: 1px solid var(--bs-info);
  text-align: left;
  border-radius: 0;
}
.offcanvas-lg .offcanvas-body .nav .nav-item .nav-link:hover {
  color: var(--bs-info);
}
.offcanvas-lg .offcanvas-body .nav .nav-item.active > .nav-link {
  color: var(--bs-info);
  padding-left: 10px;
}
.offcanvas-lg .offcanvas-body .nav .nav-item .user-name {
  text-align: end;
}
.offcanvas-lg .offcanvas-body .nav .nav-item .log-out {
  text-align: center;
}
.offcanvas-lg .offcanvas-body .nav .nav-item.active .log-out {
  padding-left: 5px;
}
.offcanvas-lg .offcanvas-body .nav .nav-item > .nav .nav-link {
  padding-left: 15px;
}
.offcanvas-lg .offcanvas-body .nav .nav-item.active > .nav > .nav-item .nav-link {
  padding-left: 20px;
}
.offcanvas-lg .offcanvas-body .nav .nav-item.active > .nav > .nav-item.active > .nav-link {
  padding-left: 30px;
}
.offcanvas-lg .offcanvas-body .nav .nav-item .nav {
  margin: 0;
}

@media (max-width: 991.98px){
.offcanvas-lg .offcanvas-body{
  min-height: 325px;
}
}