{% extends "web/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}
{% load account socialaccount %}


{% block title %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<main>

    {% block acc_content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
                    <div class="card text-center">
                        <div class="card-header d-flex flex-row">
                            <div class="col">
                                <h1 class="fs-3 mb-0">{% block card_header %}{% endblock %}</h1>
                            </div>
                        </div>
                        <div class="card-body">
                            {% block card_body %}
                                <div class="col mb-3" style="position: relative;">
                                    <hr class="m-0" />
                                    <span class="text-nowrap text-white-50" style="position: absolute;padding: 0 10px;background-color: #303030;top: 50%;left: 50%;transform: translate(-50%) translateY(-14px);"> Продолжить с :</span>
                                </div>
                                <div class="col">
                                    <a class="btn btn-primary fs-5 border rounded border-primary" role="button" style="padding: 0px 0 3px 0;" href="{% provider_login_url 'google' process='login' %}">
                                        <span class="bg-white rounded-start" style="padding: 4px 3px 7px 7px;">
                                            <img width="24px" height="24px" loading="lazy" alt="G" style="vertical-align: sub;" src="{% static 'web/img/google_100x100.png' %}" />
                                        </span>
                                        <span class="mx-2">Google</span>
                                    </a>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block extra_body %}{% endblock %}

</main>
{% endblock %}

{% block js %}
<script src="{% static 'web/js/pass_eye.js' %}"></script>
{% endblock %}

