{% extends "web/base.html" %}

{% load i18n %}
{% load static %}
{% load account %}
{% load account socialaccount %}


{% block title %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}
<main>

    {% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <div>
        <strong>Menu:</strong>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
            {% else %}
            <li><a href="{% url 'account_login' %}">Sign In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>

    {% block acc_content %}
    <section class="position-relative py-4 py-xl-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-sm-9 col-md-6 col-lg-5 col-xl-4">
                    <div class="card text-center">
                        <div class="card-header d-flex flex-row">
                            <div class="col">
                                <h1 class="fs-3 mb-0">{% block card_header %}{% endblock %}</h1>
                            </div>
                        </div>
                        <div class="card-body">
                            {% block card_body %}
                                <div class="col mb-3" style="position: relative;">
                                    <hr class="m-0" />
                                    <span class="text-nowrap text-white-50" style="position: absolute;padding: 0 10px;background-color: #303030;top: 50%;left: 50%;transform: translate(-50%) translateY(-14px);"> Продолжить с :</span>
                                </div>
                                <div class="col">
                                    <a class="btn fs-5 border rounded px-2" role="button" href="{% provider_login_url 'google' process='login' %}">
                                        <img class="align-text-bottom" src="{% static 'web/img/google_100x100.png' %}" width="25" height="25" />
                                        <span class="p-0 ps-2" style="background-color: var(--bs-btn-hover-bg);">Google</span>
                                    </a>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}
    
    {% block extra_body %}{% endblock %}

</main>
{% endblock %}

{% block js %}
<script src="{% static 'web/js/pass_eye.js' %}"></script>
{% endblock %}

