{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "E-mail Addresses" %}{% endblock %}

{% block card_header %}
{% trans "E-mail Addresses" %}
{% endblock %}

{% block card_body %}
    {% if user.emailaddress_set.all %}
    <p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

    <form action="{% url 'account_email' %}" class="email_list" method="post">
        {% csrf_token %}
        {% for emailaddress in user.emailaddress_set.all %}
        <div class="ctrlHolder">
            <table class="table text-start">
                <th>
                    <label for="email_radio_{{forloop.counter}}" class="{% if emailaddress.primary %}primary_email{%endif%}">
                        <input id="email_radio_{{forloop.counter}}" type="radio" name="email" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}"/>
                        {{ emailaddress.email }}
                    </label>
                </th>
                <tr>
                    <td>
                        {% if emailaddress.verified %}
                        <span class="text-success">{% trans "Verified" %}</span>
                        {% else %}
                        <span class="text-warning">{% trans "Unverified" %}</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if emailaddress.primary %}<span class="text-info">{% trans "Primary" %}</span>{% endif %}
                    </td>
                </tr>
            </table>
        </div>
        {% endfor %}

        <div class="btn-group btn-group-sm" role="group">
            <button class="btn btn-primary p-1" type="submit" name="action_primary" >{% trans 'Сделать основным' %}</button>
            <button class="btn btn-primary p-1 mx-1" type="submit" name="action_send" >{% trans 'Подтвердить' %}</button>
            <button class="btn btn-danger  p-1" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </div>
    </form>

    {% else %}
    <p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

    {% endif %}

    <div class="col mt-3">
        <hr class="m-0 p-0" />
    </div>

    {% if can_add_email %}
    <div class="col mt-3">
        <h2 class="fs-4">{% trans "Add E-mail Address" %}</h2>
    </div>

    <form method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div class="mb-3">
            <input class="form-control" type="email" name="email" autocomplete="username" placeholder="Email" />
        </div>
        <button class="btn btn-primary" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>
    {% endif %}

{% endblock %}


{% block extra_body %}
<script type="text/javascript">
    (function() {
        var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
        var actions = document.getElementsByName('action_remove');
        if (actions.length) {
            actions[0].addEventListener("click", function(e) {
                if (! confirm(message)) {
                    e.preventDefault();
                }
            });
        }
    })();
</script>
{% endblock %}
