{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block card_header %}
Сброс пароля
{% endblock %}

{% block card_body %}
<p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
<form class="mt-2 px-sm-5" method="post" action="{% url 'account_reset_password' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-error">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
    <div class="mb-3"><input class="form-control form-control" type="email" name="email" placeholder="Email" /></div>
    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">Сбросить пароль</button></div>
</form>
<div class="col-12">
    <hr class="p-0 m-0" />
</div>
<div class="col mt-2">
    <p class="mb-0">
        <a class="text-nowrap link-info" href="{% url 'account_login' %}">Еже есть аккаунт</a> или хотите
        <a class="text-nowrap link-info" href="{% url 'account_signup' %}">зарегистрироваться?</a>
    </p>
</div>
{% endblock %}
