{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block card_header %}
{% trans "Set Password" %}
{% endblock %}

{% block card_body %}
<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form class="mt-2 px-sm-5" method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">{% trans 'Sign Out' %}</button></div>
    </form>
{% endblock %}



{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3"><button class="btn btn-primary d-block w-100" type="submit">{% trans 'Sign Out' %}</button></div>
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
